.section-padding-80 {
    padding-top: 80px;
    padding-bottom: 80px; }
  
.section-padding-80-0 {
    padding-top: 80px;
    padding-bottom: 0; }

.widget-title{
    text-align: center;
    position: relative;
}

.product-img{
    align-content: center;
    text-align: center;
}